
* {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  color: rgb(248, 246, 246);
  font-size: 18px;
  padding: 1px;
}
header {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
div {
  background: #58378C;
  display: block;

}  
main div {
  display: block;
  background: #EF7D19;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}  
nav {
    display: block;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
 
  header, footer {
    background: #58378C;
    color: white;
    padding: 16px;
    align-items: center;
    height: 100%
  }
  
  #logo-header {
    font-size: 32px;
  }
  
  a {
    text-decoration: none;
    color: black;
    margin-left: 16px;
    align-items: center;
    height: 100%;
  }
  
  main {
    background-color: #EF7D19;
    padding: 16px;
    color: white;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  img {
    margin: 32px;
  }
  
  .rede-social {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 8px;
  } 

